<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            {{title}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <button block ion-button (click)="spaeack()" color="light">Speack</button>
    <button *ngIf="play" block ion-button (click)="playSound()" color="light">Play</button>
</ion-content>